<navbar [items]="subnavItems"></navbar>
<div class="container-fluid page-body-wrapper">
<app-menu></app-menu>
<div class="main-panel">
<div class="content-wrapper">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 d-flex align-items-stretch grid-margin">
			<div class="row flex-grow">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<h4>Detail of the Event</h4>
							<event-form [event]="event" [submitFunction]="submitForm"></event-form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>