<div class="nav-scroller bg-light box-shadow">
  <nav class="nav nav-underline">
    <ng-container *ngFor="let item of items">
	    <a *ngIf="item.routerLink"
	    	class="nav-link"
	    	[routerLink]="item.routerLink ? item.routerLink : null"
	    	>
	    	<i *ngIf="item?.icon" class="fa fa-{{item.icon}}"></i>
	    	{{item.title}}
	    </a>
		<a *ngIf="item.action"
			class="nav-link"
	    	role="button"
	    	(click)="performAction(item)">
	    	<i *ngIf="item?.icon" class="fa fa-{{item.icon}}"></i>
	    	{{item.title}}
	    </a>
	</ng-container>
  </nav>
</div>