<form novalidate [formGroup]="questionForm" (ngSubmit)="submitQuestionForm()">
  <div class="row">
    <div class="form-group col-12">
        <label for="text">Text of question:</label>
        <input class="form-control" placeholder="text" formControlName="text">
        <div class="alert alert-danger" *ngIf="!text.pristine && text.errors?.required">
          Text of the question must not be empty!
        </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6 col-xs-12">
      <label for="topics">Topics:</label>
      <select multiple class="form-control" id="topics"  name="topics" formControlName="topics">
        <option *ngFor="let t of allTopics" [value]="t.id">{{t.name}}</option>
      </select>
      <div class="alert alert-danger" *ngIf="!topics.pristine && topics.errors?.required">
        You must select at least one category!
      </div>
    </div>
    <div class="form-group col-sm-6 col-xs-12">
      <label for="level">Level:</label>
      <div class="form-check" *ngFor="let l of levels">
        <input type="radio" id="level-{{l.id}}" formControlName="level" [value]="l.id">
        <label for="level-{{l.id}}" role="button">{{l.label}}</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-12">
       <input type="file" id="filePicker" (change)="handleFileSelect($event)">
       <i class="fa fa-circle-o-notch fa-spin fa-fw pull-right" *ngIf="showLoader"></i>
     </div>
  </div>
  <div class="row">
    <div class="form-group col-12">
      <textarea class="form-control" name="attachment" formControlName="attachment" placeholder="Paste Base64 code..."></textarea>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-12">
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-pencil"></i>
        Confirm
      </button>
    </div>
  </div>
</form>