<navbar [items]="subnavItems"></navbar>
<div class="container-fluid page-body-wrapper">
<app-menu></app-menu>
<div class="main-panel">
<div class="content-wrapper">
  <div class="row">
    <div class="col-xs-12 col-sm-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Topics</h4>
          <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Topic name</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of topics">
          <td>{{t.id}}</td>
          <td>{{t.name}}</td>
          <td>{{t.description}}</td>
          <td>
            <a routerLink="/topics/{{t.id}}" role="button" placement="top" ngbTooltip="Edit this topic">
              <i class="fa fa-pencil"></i>
            </a>
            <a (click)="delete(t.id)" role="button" placement="top" ngbTooltop="Delete this topic">
              <i class="fa fa-trash"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>