<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
	<div class="navbar-brand-wrapper d-flex align-items-top p-2">
		<span class="fa-stack fa-lg mr-2">
			<i class="fa fa-circle fa-stack-2x" style="color:#87c54e;"></i>
			<i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
		</span>
		<a class="navbar-brand" href="#">Risky</a>
	</div>
	
	<div class="navbar-menu-wrapper d-flex align-items-center">
		<ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
			<li class="nav-item" *ngFor="let item of items">
				<a *ngIf="item.routerLink"
					class="nav-link"
					[routerLink]="item.routerLink ? item.routerLink : null"
					>
					<i *ngIf="item?.icon" class="fa fa-{{item.icon}}"></i>
					{{item.title}}
				</a>
				<a *ngIf="item.action"
					class="nav-link"
					role="button"
					(click)="performAction(item)">
					<i *ngIf="item?.icon" class="fa fa-{{item.icon}}"></i>
					{{item.title}}
				</a>
			</li>
		</ul>
		
		
		<ul class="navbar-nav navbar-nav-right">
			<li class="nav-item" *ngIf="!user.isLoggedIn()">
				<a class="nav-link" routerLink="/login">
					<i class="fa fa-sign-in"></i>
					Login
				</a>
			</li>
			<li class="nav-item" *ngIf="user.isLoggedIn()">
				<a class="nav-link" (click)="logout()" role="button">
					<i class="fa fa-sign-out"></i>
					Logout
				</a>
			</li>
		</ul>
	</div>
</nav>