<form novalidate [formGroup]="eventForm" (ngSubmit)="submitEventForm()">

  	<div class="row">
		<div class="form-group col-md-3 col-sm-6 col-xs-12">
			<label for="topics">Select competitors:</label>
			<select multiple size="6" class="form-control form-control-lg" id="competitors" name="competitors" formControlName="competitors">
				<option *ngFor="let c of competitors" [value]="c.id">{{c.name}}</option>
			</select>
		  	<p>
		  		Picked competitors: {{eventForm.value.competitors.length}}	
		  	</p>
		</div>
	  	<div class="form-group col-md-3 col-sm-6 col-xs-12">
		  	<label for="topics">Select topics:</label>
		  	<select multiple size="6" class="form-control form-control-lg" id="topics" name="topics" formControlName="topics">
			  	<option *ngFor="let t of allTopics" [value]="t.id">{{t.name}}</option>
		  	</select>
		  	<p>
		  		Picked topics: {{eventForm.value.topics.length}}	
		  	</p>
		</div>
	</div>
	<div class="row">
		<div class="form-group row col-md-6 col-sm-12">
			<label for="question-count" class="col-sm-12 col-xs-12">Question count for each topic:</label>
			<div class="col-sm-2 col-xs-12">
				<input type="number" class="form-control" formControlName="questionCount" name="question-count" id="question-count" min="1">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-12 col-xs-12">
		<button type="submit" class="btn btn-primary pull-right">
			<i class="fa fa-trophy"></i>
			Generate Event
		</button>
		</div>
  	</div>
</form>