/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";
@import "assets/scss/style.scss";

$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';


[role="button"] {
    cursor: pointer;
}

i[role=button] {
    color: #888;

    &:hover {
        color: #222;
    }
}