<navbar></navbar>
<div class="container-fluid page-body-wrapper">
	<app-menu></app-menu>
	<div class="main-panel">
		<div class="content-wrapper">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
					<div class="card card-statistics">
						<div class="card-body">
							<div class="clearfix">
								<div class="float-left">
									<i class="mdi mdi-cube text-danger icon-lg"></i>
								</div>
								<div class="float-right">
									<p class="card-text text-right">Total Revenue</p>
									<div class="fluid-container">
										<h3 class="card-title font-weight-bold text-right mb-0">$65,650</h3>
									</div>
								</div>
							</div>
							<p class="text-muted mt-3">
								<i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> 65% lower growth
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>